<div class="wrap">
  <h1 class="title">До нового года осталось</h1>
  <div class="timer" id="timer-1">
      <div class="field">
        <span class="label">Дней</span>
        <div class="figure">
          <span id="hour" class="value" data-value="days">11</span>
        </div>
      </div>

      <div class="field">
          <span class="label min">Часов</span>
          <div class="figure">
            <span class="value" data-value="hours">11</span>
          </div>
        </div>

      <div class="field">
        <span class="label">Минут</span>
        <div class="figure">
          <span class="value" data-value="mins">11</span>
        </div>
      </div>

      <div class="field">
        <span class="label">Секунд</span>
        <div class="figure">
          <span class="value" data-value="secs">11</span>
        </div>
      </div>
  </div>
</div>